<%# タイトル等設定 %>
<% provide(:title,"#{@userDetail.name}さんのプロフィール | Proofly") %>
<% provide(:index,"noindex") %>
<%#----------------------------------------------------------------------------------------------------------------------------------------------------------------------------%>
<%= render 'tmp/header',{ s: "" } %>
<%= render 'tmp/usertop' %>
<main class="main_flame">
    <div class="main_inner">
        <div>
            <div class="main_container_n">
                    <div class="tnav">
                        <nav>
                            <ul>
                                <li class="current"><a href="/nuser/<%= @userDetail.user_key %>">ホーム</a></li>
                                <li class="des"><a href="/nuser/<%= @userDetail.user_key %>/article">記事</a></li>
                                <li class="des"><a href="/nuser/<%= @userDetail.user_key %>/book" >本</a></li>
                                <li class="des"><a href="/nuser/<%= @userDetail.user_key %>/image" >画像</a></li>
                                <li class="des"><a href="/nuser/<%= @userDetail.user_key %>/video" >動画</a></li>
                                <li class="des"><a href="/nuser/<%= @userDetail.user_key %>/story" >ストーリー</a></li>
                                <li class="des"><a href="/nuser/<%= @userDetail.user_key %>/pr">販売中のPr</a></li>
                            </ul>
                        </nav>

                    </div>
                    <div class="tmai">
                        <% ac=0 %>
                        <h2>最近投稿された記事</h2>
                        <% @articles.each do |article| %>
                            <% if ac ==4 then break; end %>
                            <a href="/nuser/<%= @userDetail.user_key %>/article/<%= article.key %>" class="artList">
                                <div class="p-img" style="padding:0px 10px 0px 0;">
                                    <% if article.thum then %>
                                        <%= image_tag article.thum.to_s, class: '' , alt: "#{article.title }のサムネイル"%>
                                    <% else %>
                                        <div class="andj">no image</div>
                                    <% end %>
                                </div>
                                <div class="p-cont">
                                    <div class="title"><%= article.title %></div>
                                    <% ua = request.env["HTTP_USER_AGENT"]
                                    if(ua.include?('Mobile') || ua.include?('Android')) then %>
                                    <% else %>
                                      <p style="color:#aaa;font-size:0.8em;"><%=strip_tags article.description.gsub(/\r\n|\r|\n|\s|\t/, "").truncate(50) %></p>
                                    <% end %>
                                    <p style="color:#aaa;font-size:0.8em;"><%= article.created_at.strftime("%Y年%m月%d日に投稿") %></p>
                                </div>
                            </a>
                            <% ac+=1 %>
                        <% end %>
                        <% if ac==0 then %>
                            <p>このユーザーにはコンテンツがありません。</p>
                        <% else %>
                            <a href="/nuser/<%= @userDetail.user_key %>/article" style="color:#aaa;font-size:0.8em;">もっと見る</a>
                        <% end %>
                    </div>
                </div>
                
            </div>
            <div class="sidebar">
                <%= render 'tmp/ad/google/sidetop' %>
                <%= render 'tmp/side/hottagList' %>
            </div>
        </div>

</main>
<%= render 'tmp/footer' %>


